<h2 class="mb-4"><u>Contacto</u></h2>
<div class="ml-4">
    <h5>Alejo (celular)</h5>
    <p class="ml-3">2983564434</p>
    <h5>Martin (celular)</h5>
    <p class="ml-3">2915773187</p>
    <h5>Instagram</h5>
    <p class="ml-3">les.patisseries.bb</p>
    <h4>Les recordamos que</h4>
    <ul>
        <li>Los pedidos deben realizarse con 24 horas de anticipación</li>
        <li>El costo del envío es de $50 o $100 según la zona. Si su compra supera los $600, es gratis</li>
        <li>Si lo que buscan es una torte/postre de un tamaño más grande, deben consultarnos por privado</li>
        <li>Salvo ocasiones especiales, los días martes y domingos no realizaremos envíos. En caso de que quieran realizar un pedido para dichos días, deberán retirarlo ustedes mismos</li>
    </ul>
</div>