<h2 class="mb-4"><u>Acerca de nosotros</u></h2>
<div class="ml-4">
    <h5>Acerca de Les Patisseries...</h5>
    <ul>
        <li>Less Patisseries es un emprendimiento de pastelería a domicilio fundado por Alejo Pezzella y Martin Gonnet</li>
        <li>Los envíos son exclusivamente en Bahía Blanca, ciudad donde se encuentran residiendo ambos</li>
    </ul>
    <h5>Acerca de este proyecto...</h5>
    <ul>
        <li>Esta página fué diseñada para el seminario de Angular de la carrera TUDAI por <u>Germán de Francesco</u></li>
        <li>A través de Alejo se estableció contacto para poder diseñarla, facilitando todas las fotos y precios de la cuenta original de Instagram para poder ser utilizados</li>
    </ul>
</div>