<h2>Lista de postres</h2>
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Precio (individual - dos porciones)</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dessert of desserts" [ngClass]="{'discount': dessert.hasDiscount}">
            <td><img [src]="dessert.image" [alt]="dessert.name" class="dessertImage"></td>
            <td>{{dessert.name}}</td>
            <td>{{dessert.price | currency}} - {{dessert.price2 | currency}}</td>
            <td>
                <span *ngIf="dessert.stock>0">{{dessert.stock}}</span>
                <span class="badge badge-warning" *ngIf="dessert.stock==0">Sin stock</span>
            </td>
        </tr>
    </tbody>
</table>