h2{
    color: lightcoral;
}

.discount{
    border: 2px solid green;
    background: lightgreen;
}

.buyZone{
    display: flex;
}

td {
    vertical-align: middle;
}

/* Remove input number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  width: 30px;
  text-align: center;
}